<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	
	<!-- 보드 추가하기 -->
	<insert id="insertBoard" parameterType="BoardDTO">
		insert into tbl_column values
			(#{seq_column}, #{id}, #{nickname}, #{title} , #{content}, sysdate, 0)
	</insert>
	
	<!-- 보드 수정하기 -->
	<update id="updateBoard" parameterType="BoardDTO">
		update tbl_column set nickname = #{nickname}, title = #{title} , content = #{content} where seq_column = #{seq_column}

	</update>
	
	<!-- seq 한단계 업하기 -->
	<select id="selectSeq" resultType="int">
		select seq_column.nextval from dual
	</select>
	
	
	<select id="selectAll" resultType="BoardDTO">
	select * 
	from tbl_column LEFT OUTER join (select * from files 
	where profile =1)
	using(seq_column)
	order by seq_column desc
	</select>
	
	<!-- 보드 단일 하나 가져오기 -->
	<select id="selectOne" resultType="BoardDTO">
		select * from tbl_column where seq_column = #{seq_column}
	</select>
	
	<!-- 보드 전체 카운트하기 -->
	<select id="countAll" resultType="int">
		select count(*) from tbl_column
	</select>
	
	<!-- 보드 리스트 출력 -->
	<select id="getBoardList" parameterType="map" resultType="BoardDTO">
			select * 
			from( select row_number() over(order by seq_column desc) rank, a.* from tbl_column a ) LEFT OUTER join (select * from tbl_column_file 
			where profile = 1)
			using(seq_column)
			where rank between #{startRange} and #{endRange}
			order by rank asc
	</select>
	
	
	<!-- 보드삭제 -->
	<delete id="deleteBoard">
		delete from tbl_column where seq_column=#{seq_column}
	</delete>
	
	<!-- 메인페이지 보드 리스트 가져오기 -->
	<select id="getMainList" parameterType="map" resultType="BoardDTO">
		select * 
		from( select row_number() over(order by seq_column desc) rank, a.* from tbl_column a ) LEFT OUTER join (select * from tbl_column_file 
		where profile = 1)
		using(seq_column)
		where rank in 
		<foreach collection="list" item="arr" open="(" close=")" separator=",">
			 #{arr}
		</foreach>
			
	</select>
	
	<!-- 검색할 보드 카운트하기 -->
	<select id="searchCountAll" parameterType="map" resultType="int">
		 select count(*) from  tbl_column where ${checkOption} LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 검색된 보드 리스트 출력 -->
	<select id="getSearchBoardList" parameterType="map" resultType="BoardDTO">
			select * 
			from( select row_number() over(order by seq_column desc) rank, a.* from 
			(select * from tbl_column WHERE ${checkOption} LIKE '%' || #{keyword} || '%' ) a ) 
			LEFT OUTER join (select * from tbl_column_file 
			where profile = 1)
			using(seq_column)
			where rank between #{startRange} and #{endRange}
			order by rank asc
	</select>
	
	
</mapper>