<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

 <configuration> 
	 <settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	
 	<typeAliases> 
 		<typeAlias type="every.com.bookmark.BookmarkDTO" alias="BookmarkDTO"/>
 		<typeAlias type="every.com.review.ReviewDTO" alias="ReviewDTO"/>
 		<typeAlias type="every.com.member.MemberDTO" alias="MemberDTO"/>
 		<typeAlias type="every.com.admin.AdminDTO" alias="AdminDTO"/> 
 		<typeAlias type="every.com.board.BoardDTO" alias="BoardDTO"/> 
 		<typeAlias type="every.com.file.FileDTO" alias="FileDTO"/> 
 		<typeAlias type="every.com.message.MessageDTO" alias="MessageDTO"/>
 		<typeAlias type="every.com.blacklist.blacklistDTO" alias="blacklistDTO"/>
 		<typeAlias type="every.com.faq.faqDTO" alias="faqDTO"/>
 		<typeAlias type="every.com.info.infoDTO" alias="infoDTO"/>
 		<typeAlias type="every.com.qna.qnaDTO" alias="qnaDTO"/>
 		
<!-- 		<typeAlias type="kh.com.board.board.BoardDTO" alias="BoardDTO"/> -->
<!-- 		<typeAlias type="kh.com.board.files.FilesDTO" alias="FilesDTO"/> -->
 	</typeAliases> 
 </configuration> 